.App {
  text-align: center;
}

.App-logo {
  height: 13vmin;
  pointer-events: none;
  margin-left: -1em;
  margin-top: -1.75em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: black;
}

/* Nav Bar */
.sign-in {
  margin-left: 3em;
  margin-top: 1em;
}
.Search-logo {
  height: 5vmin;
  margin-left: 2em;
  margin-top: .75em;
}
nav {
  height: 40px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

nav a{
  color: black;
  text-decoration: none;
}

nav a h3 {
  margin-left: 1em;
}
/* Poster */
.Slogan {
  margin-left: -20em;
}
.Poster a {
  color: white;
  text-decoration: none;
}
.Poster select {
  width: 250px;
  height: 33px;
  /* margin-left: -10px; */
  margin-left: 10px;
}

.ZipCode {
  height: 28px;
  margin-left: 10px;
}

.Searchbar {
  height: 33px; 
  margin-left: 10px;
}
.Poster {
  margin: 0 17% 0 17%;
  background-image: url("background.avif");
  background-size: cover;  
  /* background-repeat:repeat-y;
  margin-left: 2em;
  width: 19em;
  display: block;
  min-width: 100px */
  height: 400px;
  color: white;
}

.Poster-row2 {
  display: flex;
}
.Poster-row1 {
  display: flex;
}
.Poster ul {
  list-style-type: none;
  display: flex;
  margin-top: 35px;
  
}
.Poster ul li {
  margin-left: .25em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* AnotherSearch */
.AnotherSearch {
  margin-left: -48em;
}

/*Title 1*/
.Title1 {
  margin-left: -54em;
  margin-top: 3em;
}
/*Carousel*/
.MyCarousel {
  margin-top: 3em;
  margin-left: 5%;
}

/* Panel 1 */
.Panel1 {
  background-image: url("./images/search-by-budget.webp");
  background-size: cover;  
  /* background-repeat:repeat-y;
  margin-left: 2em;
  width: 19em;
  display: block;
  min-width: 100px */
  height: 400px;
  color: black;
}

/*Container1*/
.Container1 {
  display: block;
  margin-top: 3em;

}

.Container1-CarList {
  list-style-type: none;
  display: flex;
  margin-left: 20%;
}

/* Container2 */
.Container2 li {
  display: flex;
}

.Container2 {
  background-color: rgb(226, 224, 224);
}